// Big Button
.big-button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background: $orange-light;
  border: none;
  border-bottom: .6rem solid darken($orange-light, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

// Button
.button {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background: $orange-light;
  border: none;
  border-bottom: .3rem solid darken($orange-light, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-gray;
  padding: 0;
}
